.hero-banner {
    background-image: linear-gradient(green, rgb(0, 24, 0));
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    text-align: center;
    color: #fff;
  }
  
  h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }
  
  .btn {
    background-color: #fff;
    color: #333;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .btn:hover {
    background-color: #333;
    color: #fff;
  }
  
.about-bullies {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(green, rgb(0, 24, 0));
    width: 100%;
    height: 30em;
    color: rgb(255, 255, 255);
}

.about-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 10%;
    width: 40em;
    margin-left: 10px;
}

.about-text h2 {
    font-size: 67px;
    margin-bottom: -10px;
}

.about-text p {
    font-size: 25px;
    padding-right: 20px;
}

.about-text h3 {
    font-size: 15;
    margin-bottom: -50px;
    margin-top: 20px;
}

.about-images img {
    height: 40vh;
    margin-top: 11vh;
    margin-right: 5vh;
}

.top-books h2 {
    animation: bounce 1s infinite;
    margin-top: 4%;
    font-size: 38px;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.top-books {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-images {
    display: flex;
    flex-direction: row;
}

.individual-books h3 {
   text-align: center;
   font-size: 25px;
}

.individual-books p {
    text-align: center;
    padding-right: 10%;
    padding-left: 10%;
    margin-bottom: 30px;
}

.bottom-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(238, 193, 176);
}

.join-today {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join-today h2 {
    margin-top: 50px;
    margin-bottom: -10px;
}

.copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
}

.copyright h3 {
    font-size: 15px;
    margin: 30px;
}